name: "The New Norms Deployment"

on:
  push:
    branches:
      - infra
  pull_request:
    branches:
      - infra
  workflow_dispatch:

permissions:
  id-token: write
  security-events: write
  contents: read
  pull-requests: write
  actions: read

jobs:
  check-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          fetch-depth: 0

      - name: Check all changes
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 #v47
        with:
          files: "**"
          since_last_remote_commit: true

  secret_scan:
    runs-on: ubuntu-latest
    needs: check-changes
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: ./.github/actions/secret-scans
        with:
          github_token_gitleaks: ${{ secrets.GITHUB_TOKEN }}
          gitleaks_license: ${{ secrets.GITLEAKS_LICENSE }}
          devsecops_slack_webhook: ${{ secrets.DEVSECOPS_SLACK_WEBHOOK }}
          current_branch: ${{ github.head_ref || github.ref_name }}
          commit_message: ${{ github.event.head_commit.message || github.event.pull_request.title }}

  iac_scan:
    runs-on: ubuntu-latest
    needs: check-changes
    steps:
    - name: Checkov Scan
      id: checkov
      uses: bridgecrewio/checkov-action@99bb2caf247dfd9f03cf984373bc6043d4e32ebf #v12
      with:
        directory: ${{ inputs.deploy-dir }}
        framework: ${{ inputs.framework }}
        download_external_modules: true
        output_format: cli,json,sarif
        output_file_path: console,${{ inputs.deploy-dir }}/${{ inputs.repository-name }}-kube-iac-github-action.json,${{ inputs.deploy-dir }}/${{ inputs.repository-name }}-kube-iac-github-action.sarif
        soft_fail: true
        skip_check: CKV_TF_1
